.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.App-header {
  position: fixed;
  width: 100%;
  height: fit-content;
  background-color: transparent;
  z-index: 1;
}


.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
}

.navigation{
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 10px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #FC5404;
  font-size: .9rem;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom:0;
  transition: 0.2s ease-in-out;
}

.App-logo {
  width: 42px;
}

.hero{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  width: fit-content;
  background-color: #fdff6d;
}

.hero-img-container{
  position: absolute;
  top: 100px;
  right: 0;
  width: 60vw;
  height: 80vh;
  z-index: -1;
}

.image{ 
  width: 80%;
  height: 100%;
  background-size:     cover; 
  background-repeat:   no-repeat;
  background-position: center center;  
  background-image: url('./images/happybrew-view2.jpg');
  border-radius: 50px;
}

.head-line{
  width: 50vw;
  margin-left: 7vw;
}
.title{
  font-size: 6rem;
  color: transparent;
  letter-spacing: 2px;
  -webkit-text-stroke: 3px #04acfc;
  line-height: 15vh;

}

.book-table-btn{
  padding: 10px 30px;
  width:fit-content;
  border: 3px solid #04acfc;
  transition: 0.3s ease-in-out;
  border-radius: 20px;
}

.container{
  z-index: 1;
}
.book-table-btn:hover,
.book-table-btn:active
{
  border: 3px solid #FC5404;
  color: #FC5404;
  box-shadow: inset 10em 2px 2px 2px #ffffff;
  transform: translateY(-0.40em);
  scale: 1.02;
}

.nav-book-table{
  transition: 0.15s ease-in-out;
  padding: 5px;
  border: 3px solid transparent;
  border-bottom: 3px solid #ff8c57;
}
.nav-book-table:hover{
  box-shadow: inset 0 0 1em rgba(255, 123, 0, 0.767), 0 0 1em rgba(255, 172, 18, 0.5);
  border: #FC5404 solid 3px;
  border-radius: 10px;
}

.explore{
  min-height: 100vh;
  background-color: #F9B208;
}

.navigation a:hover,
.navigation a:active {
  letter-spacing: 4px;
  border-bottom: 1px solid rgb(4, 172, 252, 0.5) ;
  color: #04acfc;
}

.nav{
  display: none;
}

@media only screen and (max-width: 600px) {

  .head-line{
    margin: auto;
  }
  .hero{
    height: 80vh;
    width: 100%;
  }
  .container{
   margin: 10vw;
  }

  .hero-img-container{
    height:50vh;
    width: 70%;
    margin: auto;
  }
  .title{
    font-size: 4rem;
    color: #04acfc;
    -webkit-text-stroke: 0px;
    line-height: 9vh;
  }

  .image{
    width: 90%;
    height: 90%;
    background-repeat:   no-repeat;
    background-position: center left;
  }

  .navigation, .nav-book-table{
    display: none;
  }

  .nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #fdff6d;
    display: flex;
    overflow-x: auto;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
    background-color: #eeeeee;
}

.nav__link--active {
    color: #009578;
}

.nav__icon {
    font-size: 18px;
}

}